.container {
  max-width: 680px;
  margin: auto;
  background-color: var(--very-light-grayish-blue);
  padding: 2rem 1rem;
  border-radius: 10px;
  position: relative;
}

.notifications-summary {
  display: flex;
  justify-content: space-between;
}

.notifications-title {
  font-family: "PlusJakartaSansBold";
}

.unread-count {
  background-color: var(--blue);
  color: var(--white);
  padding: 0.08rem 0.6rem;
  border-radius: 5px;
  margin-left: 0.5rem;
}

.highlight-blue {
  font-family: "PlusJakartaSansBold";
}

.highlight-blue:hover {
  cursor: pointer;
  color: var(--blue);
}

.highlight-dark-gray {
  font-family: "PlusJakartaSansBold";
}

.highlight-dark-gray:hover {
  color: var(--blue);
  cursor: pointer;
}

.mark-as-read:hover {
  cursor: pointer;
  color: var(--blue);
  font-weight: bold;
}
