:root {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
  font-size: 16px;
}

@font-face {
  font-family: "PlusJakartaSansBold";
  src: local("PlusJakartaSansBold"),
    url(./assets/fonts/static/PlusJakartaSans-ExtraBold.ttf) format("truetype");
  font-weight: bolder;
}

@font-face {
  font-family: "PlusJakartaSansMedium";
  src: local("PlusJakartaSansMedium"),
    url(./assets/fonts/static/PlusJakartaSans-Medium.ttf) format("truetype");
  font-weight: normal;
}

body {
  font-family: PlusJakartaSansMedium;
  color: var(--dark-grayish-blue);
}

#root {
  background-color: var(--light-grayish-blue-2);
  padding-top: 4rem;
}

@media all and (max-width: 680px) {
  #root {
    padding-top: 0;
  }
}
